@green-color: #5dc2af;

.todo {
  width: 100%;
  border-style: none;
  border-bottom: 1px solid #dfdfdf;
}

.checkBox:checked + .notEdit {
  text-decoration-line: line-through;
  color: #e6e8e9;
}

.checkBox {
  margin-right: 20px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  border: 1px solid #ddd;
  -webkit-appearance: none;
  outline: none;
}

.checkBox:checked {
  border: 1px solid @green-color;

  &:after {
    display: block;
    position: relative;
    left: 10px;
    top: 5px;
    content: '';
    width: 6px;
    height: 16px;
    border: solid @green-color;
    border-width: 0 2px 2px 0;
    transform: rotate(35deg);
  }
}


.todoField {
  margin-right: 0;
  padding: 15px;
  display: inline-block;
  font-size: 30px;
  box-sizing: border-box;
  width: 90%;
}

