.doneTodo {
    opacity: .5;
}

.todo {
    padding: 15px;
    border-style: none;
    border-bottom: 1px solid #dfdfdf;
    width: 100%;
    font-size: 25px;
    box-sizing: border-box;
}

.deleteTodo{
    text-align: right;
}

.todo:not(:hover) > .deleteTodo{
    display: none;
}